body{
font-family: Times New Roman;
margin:0;
background: linear-gradient(to bottom, pink, lightblue);
}

nav{
background-color:white;
padding:15px;
text-align:center;
}

nav a{
margin:15px;
text-decoration:none;
font-weight:bold;
color:black;
}

.container{
text-align:center;
padding:40px;
}

.foto{
width:200px;
border-radius:100px;
margin-bottom:20px;
}

h1{
color:#333;
}

h2{
margin-top:30px;
}